<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="Ischemm.NLog.JsonTarget" />
    </extensions>
    <targets async="true">
      <target name="console" xsi:type="Console"
              layout="${longdate}|${level:uppercase=true}: ${message} ${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method,StackTrace}"/>
      <target name="http" xsi:type="JsonPost">
        <field name="Message" layout="${whenEmpty:inner=${exception:format=message}:whenEmpty=${message}}" />
        <field name="Exception" layout="${exception:separator=\r\n:innerExceptionSeparator=\r\n--------\r\n:format=type,message,method,StackTrace:maxInnerExceptionLevel=5:innerFormat=type,message,method,StackTrace}" />
        <field name="Level" layout="${level}" />
        <field name="Logger" layout="${logger}" />
        <field name="Hostname" layout="${machinename}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="console"/>
      <logger name="*" minlevel="Trace" writeTo="http"/>
    </rules>
  </nlog>
</configuration>